@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-montserrat);
  color: #8a8a8a;
  background-color: black;
  background-size: cover;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1290px;
}

.text-gray {
  color: #737373;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 5px;
}

/* footer */
.footer .footer-top {
  border-top: 1px solid #404040;
  padding-top: 50px;
}

.footer-top .image-wrapper {
  max-width: 200px;
  max-height: 45px;
}

.footer-top .social-icons-wrapper {
  padding: 8px 16px;
  border-radius: 999px;
  background-color: #ff8c1a;
}

.footer-icon {
  width: 34px;
  height: 34px;
  object-fit: contain;
  filter: brightness(0);
  transition: filter 0.3s ease;
}

.footer .footer-top h4 {
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 700;
}

.footer .footer-bottom {
  border-top: 1px solid #404040;
}

.footer .footer-bottom p {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0px;
  border-top: 1px solid #404040;
  padding-top: 10px;
  color: white;
  margin-bottom: 15px;
  text-align: right;
}

/* Responsive */
@media screen and (max-width: 1439.97px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1023.97px) {
}
@media screen and (max-width: 767.97px) {
}
@media screen and (max-width: 424.97px) {
}
@media screen and (max-width: 374.97px) {
}
@media screen and (max-width: 319.97px) {
}
