@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  font-family: var(--font-montserrat);
  color: white;
  background-color: black;
  background-size: cover;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

h2 {
  font-size: 55px;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

.navigation-btn {
  border-radius: 50px;
  padding: 10px 36px;
  border: solid 1px #ff8c1a;
}

.contact-btn {
  border: solid 1px white;
  background-color: #000000;
  color: white;
  padding: 12px 60px;
  border-radius: 20px;
}

.btn-newsletter {
  border-radius: 20px;
  padding: 12px 24px 12px 24px;
  border: solid 1px #ff8c1a;
  background-color: #ff8c1a;
  color: #050402;
}
.container {
  max-width: 1290px;
}

.text-gray {
  color: #737373;
}

.mt-100 {
  margin-top: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 5px;
}

.pb-15 {
  padding-bottom: 15px;
}

/* Training Section */
.training-card {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(7px);
  border-radius: 20px;
  padding: 40px 30px;
}

.training-section h5 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #ff8c1a;
  font-weight: 600;
}

.training-section .image-wrapper{
  max-height: 500px;
} 

.training-section ul li {
  padding: 15px 0px;
  border-bottom: 1px solid #404040;
}

.training-section ul li:last-child {
  border-bottom: none;
}

/* Course Section */
.course-Image {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 200px;
}

.course-section h5 {
  font-size: 17px;
  font-weight: 700;
  color: #ff8c1a;
}

.course-card {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(7px);
  border-radius: 20px;
}

/* Discover section */
.tag {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ff8c1a;
  border-radius: 24px;
  margin: 8px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(7px);
}

/* Blog Section */
.blog-section .image-wrapper {
  height: 235px;
  border-radius: 24px;
  margin-bottom: 20px;
}

.swiper-slide {
  background: linear-gradient(0deg, #00000099 0%, #00000099 100%),
    linear-gradient(#ffffff26, #ffffff26);
  backdrop-filter: blur(7px);
  border-radius: 24px;
  margin-right: 20px;
  padding: 15px;
}

.blog-title {
  font-size: 19px;
  margin-bottom: 15px;
  color: #fff;
}

.blog-slider-wrapper {
  padding: 100px 40px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(7px);
  border: 1px solid #ff8c1a;
  border-radius: 20px;
}

/* newsletter */
.bg-newsletter {
  padding: 50px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(7px);
  border: 1px solid #ff8c1a;
  border-radius: 20px;
}

/* social-media-section */

.social-media-section .social-icons {
  width: 40px;
  height: 40px;
  background-color: #ff8c1a;
  border-radius: 50%;
}

.social-media-cards {
  width: 100%;
  border: solid 1px #ff8c1a;
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(7px);
}

.social-media-cards .card {
  border-radius: 20px;
  overflow: hidden;
  padding: 25px 20px;
}

.social-media-cards .card .img {
  object-fit: cover;
  border-radius: 25px;
  width: 350px;
  height: 345px;
}

/* Contact */

.contact-box {
  padding: 50px 40px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(7px);
  border: 1px solid #ff8c1a;
  border-radius: 20px;
}

/* footer */
.footer .footer-top {
  border-top: 1px solid #404040;
  padding-top: 50px;
}

.footer-top .image-wrapper {
  max-width: 200px;
  max-height: 45px;
}

.footer-top .social-icons-wrapper {
  padding: 8px 16px;
  border-radius: 999px;
  background-color: #ff8c1a;
}

.footer-icon {
  width: 34px;
  height: 34px;
  object-fit: contain;
  filter: brightness(0);
  transition: filter 0.3s ease;
}

.footer .footer-top h4 {
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 700;
}

.footer .footer-bottom {
  border-top: 1px solid #404040;
}

.footer .footer-bottom p {
  font-size: 12px;
  border-top: 1px solid #404040;
  padding-top: 10px;
  color: white;
  margin-bottom: 15px;
  text-align: right;
}

/* Responsive */
@media screen and (max-width: 1439.97px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1023.97px) {
}
@media screen and (max-width: 767.97px) {
}
@media screen and (max-width: 424.97px) {
}
@media screen and (max-width: 374.97px) {
}
@media screen and (max-width: 319.97px) {
}
