@import "tailwindcss";

body {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-montserrat);
  color: #8a8a8a;
  background-color: black;
  background-size: cover;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

.text-gray {
  color: #737373;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-16{
  margin-bottom: 16px;
}

/* footer */
.footer .footer-top {
  border-top: 1px solid #404040;
  padding-top: 50px;
}
.footer-top .image-wrapper {
  max-width: 200px;
  max-height: 45px;
}

.footer-top .social-icons-wrapper {
  padding: 8px 16px;
  border-radius: 999px;
  background-color: #ff8c1a;
}

.footer-icon {
  width: 34px;
  height: 34px;
  object-fit: contain;
  filter: brightness(0);
  transition: filter 0.3s ease;
}
